<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<h2>Product Details</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Manufacture Date</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.prodID}"></td>
        <td th:text="${product.prodName}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${#dates.format(product.dateOfManf, 'yyyy-MM-dd')}"></td>
        <td th:text="${product.price}"></td>
    </tr>
</table>
</body>
</html>